<!--เริ่มต้น Header-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>โรงพยาบาลสัตว์หมาแมวยิ้มแฉ่ง</title>
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="../assets/css/main.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!--เริ่มต้น main-wrapper-->
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">
                	<div class="logonamebox">
                    	<img src="../assets/LogoDogCat.svg" alt="homepage" class="light-logo" />
                    </div>
                	<div class="logonamebox">
                    <a class="navbar-brand" href="index.html">
                        
                        <span class="hp-name">โรงพยาบาลสัตว์หมาแมวยิ้มแฉ่ง
                        	<span class="hp-name-th">Smiling Dogs And Cats Animal Hospital</span>
                        </span>
                   </a>
                   </div>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/users/6.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img src="../assets/images/users/6.jpg" alt="user"></div>
                                            <div class="u-text">
                                                <h4>เยาวภาโอภาษี</h4>
                                                <p class="text-muted">bebabee@gmail.com</p><a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">เวชระเบียน</a></div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-user"></i> ข้อมูลส่วนตัว</a></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> ออกจากระบบ</a></li>
                                </ul>
                            </div>
                        </li>
                       <li class="nav-item"> <a class="nav-link btn_buy btn-danger waves-effect waves-light" href="#"><span class="btn-label"><i class="fa fa-shopping-basket"></i></span> ซื้อสินค้า</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
      
        
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">แผงควบคุม</span></a>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">เวชระเบียน</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">ลงทะเบียนลูกค้าใหม่</a></li>
                                <li><a href="#">ค้นหาข้อมูลลูกค้าเก่า</a></li>
                            </ul>
                        </li>
                        <li class="three-column"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">ตารางนัด</span></a>
                            
                        </li>
                        <li class="two-column"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">คลังสินค้า</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">คลังเก็บสินค้า</a></li>
                                <li><a href="#">สินค้าและบริการ</a></li>
                                <li><a href="#">ตัวแทนจำหน่าย</a></li>
                                <li><a href="#">รับสินค้าเข้าสต๊อค</a></li>
                                <li><a href="#">ใบเบิกใช้ภายใน</a></li>
                            </ul>
                        </li>
                        <li class="two-column"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">การเงิน</span></a>
                            
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">รายงาน</span></a>
                           
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart"></i><span class="hide-menu">ซื้อสินค้า</span></a>
                            
                        </li>
                        <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="hide-menu">ตั้งค่า</span></a>
                        </li>
                    </ul>
                    
                </nav>
            </div>
        </aside>
      <!-- สิ้นสุด Header-->
      
      
       
       
       
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">ข้อมูลสัตว์เลี้ยง</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">แผนควบคุม</a></li>
                        <li class="breadcrumb-item">ข้อมูลสัตว์เลี้ยง</li>
                    </ol>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-3 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                
                                
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                
            </div>
            <div class="footer">
            	
            	
            </div>
        </div>
        
        <!--สิ้นสุด page-wrapper-->
                
                
        <!--เริ่มต้น Footer-->
        
    </div>
    <!--สิ้นสุด main-wrapper-->
    
   	<script src="../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script src="js/waves.js"></script>
    <script src="js/sidebarmenu.js"></script>
    <script src="../assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="../assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="../assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="../assets/plugins/bootstrap-table/dist/bootstrap-table.ints.js"></script>
    <script src="../assets/plugins/raphael/raphael-min.js"></script>
    <script src="../assets/plugins/morrisjs/morris.min.js"></script>
    <script src="../assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="js/dashboard4.js"></script>
    <script src="../assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>
</html>
<!--สิ้นสุด Footer-->
